{% extends "layout/base.html.twig" %}

{% block header %}
    <header style="background-image:url(' {{ trick.getPicturePresentation().getPictureRelativePath() }} ');">
        <h1>{{ trick.name }}</h1>
    </header>
{% endblock %}

{% block body %}
<div class="content view-trick">
    <section class="medias text-center">
        <div class="row">
            {% for picture in trick.pictures %}
            <div class="col-md-2 col-12">
                {% include 'elmt/partial/view-picture.html.twig' with {'picture': picture} %}
            </div>
            {% endfor %}
            {% for movie in trick.movies %}
            <div class="col-md-2 col-12">
                {% include 'elmt/partial/view-movie.html.twig' with {'movie': movie} %}
            </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary">View medias</button>
    </section>
    <article>
        {{ trick.description }}
    </article>
    <section class="informations">
        <p>
            {% set dateFormat = 'Y-m-d H:i' %}
            <b>Date de création</b> : {{ trick.dateCreate|date(dateFormat) }}<br>
            <b>Groupe</b> : {{ trick.trickGroup }}<br>
            {% if trick.dateUpdate is not null %}
            <b>Date de modification</b> : {{ trick.dateUpdate|date(dateFormat) }}
            {% endif %}
        </p>
    </section>
    <!--
    <section class="comments">
        <form class="form">
            <div class="row">
                <div class="col-4 offset-sm-2">
                    <input type="text" class="form-control" title="Comment" name="comment" />
                </div>
                <div class="col-4">
                    <button class="btn btn-light btn-block" type="submit">Leave a comment</button>
                </div>
            </div>
        </form>

        <div class="elmt-comments">
            <span>
                <img src="img/avatar/example.jpg" alt="Avatar" />
            </span>
            <span>
                <p>
                    Sed commodo tincidunt nisl at volutpat. Sed maximus lacus vel libero eleifend, ac fermentum urna finibus. Curabitur consequat velit odio, nec bibendum quam malesuada in. Pellentesque non porttitor justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum at maximus quam. Mauris pharetra dui orci, vitae sagittis magna accumsan in. Praesent laoreet porta interdum.
                </p>
            </span>
            <footer>
                <p>Ajouté le 11/10/2018 à 13h35 par <b>Durand Martin</b></p>
            </footer>
        </div>
        <div class="elmt-comments">
            <span>
                <img src="img/avatar/example.jpg" alt="Avatar" />
            </span>
            <span>
                <p>
                    Sed commodo tincidunt nisl at volutpat. Sed maximus lacus vel libero eleifend, ac fermentum urna finibus. Curabitur consequat velit odio, nec bibendum quam malesuada in. Pellentesque non porttitor justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum at maximus quam. Mauris pharetra dui orci, vitae sagittis magna accumsan in. Praesent laoreet porta interdum.
                </p>
            </span>
            <footer>
                <p>Ajouté le 11/10/2018 à 13h35  par <b>Durand Martin</b></p>
            </footer>
        </div>
        <div class="elmt-comments">
            <span>
                <img src="img/avatar/example.jpg" alt="Avatar" />
            </span>
            <span>
                <p>
                    Sed commodo tincidunt nisl at volutpat. Sed maximus lacus vel libero eleifend, ac fermentum urna finibus. Curabitur consequat velit odio, nec bibendum quam malesuada in. Pellentesque non porttitor justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum at maximus quam. Mauris pharetra dui orci, vitae sagittis magna accumsan in. Praesent laoreet porta interdum.
                </p>
            </span>
            <footer>
                <p>Ajouté le 11/10/2018 à 13h35  par <b>Durand Martin</b></p>
            </footer>
        </div>
        <div class="elmt-comments">
            <span>
                <img src="img/avatar/example.jpg" alt="Avatar" />
            </span>
            <span>
                <p>
                    Sed commodo tincidunt nisl at volutpat. Sed maximus lacus vel libero eleifend, ac fermentum urna finibus. Curabitur consequat velit odio, nec bibendum quam malesuada in. Pellentesque non porttitor justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum at maximus quam. Mauris pharetra dui orci, vitae sagittis magna accumsan in. Praesent laoreet porta interdum.
                </p>
            </span>
            <footer>
                <p>Ajouté le 11/10/2018 à 13h35  par <b>Durand Martin</b></p>
            </footer>
        </div>
        <div class="elmt-comments">
            <span>
                <img src="img/avatar/example.jpg" alt="Avatar" />
            </span>
            <span>
                <p>
                    Sed commodo tincidunt nisl at volutpat. Sed maximus lacus vel libero eleifend, ac fermentum urna finibus. Curabitur consequat velit odio, nec bibendum quam malesuada in. Pellentesque non porttitor justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum at maximus quam. Mauris pharetra dui orci, vitae sagittis magna accumsan in. Praesent laoreet porta interdum.
                </p>
            </span>
            <footer>
                <p>Ajouté le 11/10/2018 à 13h35 par <b>Durand Martin</b></p>
            </footer>
        </div>

        <div class="text-center">
            <button class="btn btn-primary">
                Load more ...
            </button>
        </div>
    </section>
    -->
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/lightbox.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $.lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        });
    </script>
{% endblock %}